<div class="container">
  <img src="assets/pngwing.com.png" class="image-grid" />
  <div class="text-grid">
    <h2>Noleggio Auto Facile e Conveniente</h2>
    <b class="introducere">
      Scopri il nostro servizio di noleggio auto: semplice, veloce e con una
      vasta gamma di veicoli tra cui scegliere. <br />
      Che tu abbia bisogno di un’auto per un weekend, per un viaggio di lavoro o
      per una vacanza, siamo qui per offrirti soluzioni flessibili, con tariffe
      competitive e servizi su misura.
    </b>
    <br />
    <em>Perché Scegliere il Nostro Noleggio Auto?</em>
    
    <ul>
      <li>
        <strong>Ampia Scelta di Veicoli</strong>
        : dalle city car compatte, perfette per la città, ai SUV spaziosi e
        confortevoli per le tue avventure su strada.
      </li>
      <br>
      <li>
        <strong>Tariffe Trasparenti</strong>
        : nessun costo nascosto, paghi solo ciò che scegli e quando ti serve.
      </li>
      <br>
      <li>
        <strong>Prenotazioni Facili e Veloce</strong>
        : prenota online in pochi clic e ritira l'auto nella nostra sede o in un punto di ritiro comodo per te.
      </li>
      <br>
      <li>
        <strong>Assistenza H24</strong>
        : siamo a tua disposizione in ogni momento, per rendere il tuo viaggio sicuro e sereno.
      </li>
    </ul>
  
  </div>
</div>
